extend layout
block append main
      section#banner-gris
            .container-fluid
                .row
                   .col.s12.left
                        h1 About us
                        p.subtitulo Why our clients love to work with us