doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="./assets/css/main.css")
        link(rel="stylesheet", type="text/css" ,href="../node_modules/materialize-css/dist/css/materialize.min.css")
        link(href="https://fonts.googleapis.com/css?family=Maven+Pro", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        title Replica con Pug
    body
        .container
                ul.right
                   li
                      img.response.img(src="assets/img/pre-nav/facebook-logo.png" class="icon-soc" href="#")
                      img.response.img(src="assets/img/pre-nav/google-plus-logo.png" class="icon-soc" href="#")
                      img.response.img(src="assets/img/pre-nav/linkedin-letters.png" class="icon-soc" href="#")
                      img.response.img(src="assets/img/pre-nav/twitter.png" class="icon-soc" href="#")
                .row
                  .col.s6.m12.l12
                      ul
                        img(src="assets/img/logo.png")
                        li.espacio
                          a(href="#") HOME
                        li
                          a(href="#") PAGES
                                i.material-icons arrow_drop_down
                        li
                          a(href="#") BLOG
                                i.material-icons arrow_drop_down
                        li
                          a(href="#") PORTAFOLIO
                                i.material-icons arrow_drop_down
                        li
                          a(href="#") SHORTCODES
                                i.material-icons arrow_drop_down
                        li
                          a(href="#")
                                i.material-icons search
                  footer

         script(type="text/javascript" src="./assets/js/main.js")
         script(type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js")
         script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")




