extend layout
block append main
        section#banner-gris.container-fluid
            .row
               .col.s12.left
                    h1 Portfolio
                    h6 Be Creative
        section#sub-menu.container-fluid
            .row
                .col.12.center
                    p#action
        script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js")  
        script(type="text/javascript", src="template.js", id="index")
        
                    
