extend layout
block append main
        section#banner-gris
            .container-fluid
                .row
                   .col.s12.left
                        h1 Pricing Table
                        h6 Configure your pricing table