doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="./assets/css/main.css")
        link(rel="stylesheet", type="text/css" ,href="../node_modules/materialize-css/dist/css/materialize.min.css")
        link(href="https://fonts.googleapis.com/css?family=Maven+Pro", rel="stylesheet")
        title Replica con Pug
    body
        div.container-fluid
          row
            .col.s12.right
                ul
                   li
                      img(src="assets/img/pre-nav/facebook-logo.png" class="icon-soc" href="#")
                      img(src="assets/img/pre-nav/google-plus-logo.png" class="icon-soc" href="#")
                      img(src="assets/img/pre-nav/linkedin-letters.png" class="icon-soc" href="#")
                      img(src="assets/img/pre-nav/twitter.png" class="icon-soc" href="#")
           row
              .col.s12
                   img(src="assets/img/logo.png")
                    a(href="#") HOME
                    a(class='dropdown-button', data-beloworigin="true", href='#', data-activates='dropdown1') PAGES

         script(type="text/javascript" src="./assets/js/main.js")
         script(type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js")




