@mixin subtitle {
        font: {
            family: $fuente-maven;
            size: subtitle-font-size;
        }
        color: black;
    }
@mixin encabezado-baner-gris{
	font-family:fuente-maven;
}